<!DOCTYPE html>
<html>
<head>
  <title>Lancer Quest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="static/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  <link href="{{ url_for('static', filename='default.css')}}" rel="stylesheet" media="screen">
  <script src="{{ url_for('static', filename='default.js')}}"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <!-- <script src="//code.jquery.com/jquery-migrate-1.11.2.min.js"></script> -->
</head>
<body>
<div class="container">

  <!-- Page Header -->
  <h1>Lancer Quest</h1>

  <!-- Navigation Bar -->
  <div id="nav">
    <ul>
      <li><a href="http://www.longwood.edu" target="_blank">Longwood Homepage</a></li>
      <li><a href="https://my.longwood.edu" target="_blank">My Longwood</a></li>
      <li><a href="https://canvas.longwood.edu" target="_blank">Canvas</a></li>
      <li><a href="http://www.outlook.com/longwood.edu" target="_blank">Outlook</a></li>
      <li><a href="http://torvalds.cs.longwood.edu/~generalpatton/IM/interactive-map.html" target="_blank">Campus Map</a></li>
    </ul>
  </div>

  <!-- child template -->
  {% block content %}
  {% endblock %}

  <!-- errors -->
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <!-- messages -->
  {% for message in get_flashed_messages() %}
  {{ message }}
  {% endfor %}
</div>

</body>
</html>
