/***************************************************************************
 *
 *  Fonts
 *
 **************************************************************************/
@font-face
{
  font-family: 'oswald-regular';
  src: url("fonts/Oswald-Regular.otf") format("opentype");

}
@font-face
{
  font-family: 'oswald-light';
  src: url("fonts/Oswald-Light.otf") format("opentype");

}
/***************************************************************************
 *
 *  Default
 *
 **************************************************************************/
h1 {
  /*font-family: 'Ringbearer';*/
  display: block;
  color: white;

  text-align: center;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #0A1F3D;
  background-image: url("images/rotunda2.gif");
  background-repeat: no-repeat;
  background-position: center;

  margin: 0 0 0 0;
  height: 100px;
  line-height: 120px;
}

h2 {
  color: #0A1F3D;
  margin-left: 10px;
  padding-left: 10px;
}

h3 {
  text-decoration: underline;
}

p {
  color: #1b1620;
  margin-left: 20px;
}

h1 a {
  text-decoration: none;
}

body {
  /*background: url('images/bg.jpg');*/
  background-color: #0A1F3D;
  color: white;
  font-family: 'oswald-regular';
}
.container-fluid {
  background-color: #1B1620;
  background: linear-gradient(#9EA1A4, #FCFEFE 40%);
  /* position: absolute; */
  /* width: 80%; */
  min-height: 100%;
  height: auto;
  margin: 0 10% 0 10%;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: solid #9FA0A2 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container {
  background-color: #1B1620;
  background: linear-gradient(#9EA1A4, #FCFEFE 40%);
  /* position: absolute; */
  /* width: 80%; */
  min-height: 100%;
  height: auto;
  margin: 0 10% 0 10%;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: solid #9FA0A2 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a{
  text-decoration: none;
  color: #2B57D5;
}

a:visited {
  color: #2B57D5;
}

#p-signin {
    color: white;
}

/***************************************************************************
 *
 *  Table
 *
 **************************************************************************/
table {
  /* width: 800px; */
  /* display: block; */
  padding: 0 0 0 0;
  margin: auto auto;
  border: 0;
}


table td img {
  height: 100px;
  width: 250px;
}

/*
table td[colspan="2"] img {
width: 200px;
}
table td[colspan="3"] img {
width: 300px;
}
table td[colspan="4"] img {
width: 400px;
}
 */

table tr td {
  padding: 0 0 0 0;
  width: 400px;
  color: #0A1F3D;
}

td img {
  margin: auto auto;
  display: block;
}

td h2 {
  text-align: center;
}

/***************************************************************************
 *
 *  Navigation
 *
 **************************************************************************/
ul#mini-nav {
  background-color: gray;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background: linear-gradient(#311919,#463030 66%); */
  background-color: #0A1F3D;
  font-family: 'oswald-regular';
  text-transform: uppercase;
  text-align: center;
}

#nav ul li {
  display: inline;
  color: white;
  float: left;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nav ul li:hover {
  background-color: white;
  color: #0A1F3D;
  cursor: pointer;
}

#nav ul li a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

#nav ul li#search{
}

#nav ul li#search input[type="text"]{
}

#nav ul li#search input[type="submit"]{
}

#nav ul li#search:hover{
  background: inherit;
  background-color: inherit;
}

#lsem-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background: linear-gradient(#311919,#463030 66%); */
  background: linear-gradient(#9EA1A4, #FCFEFE 40%);
  /*background-color: grey;*/
  font-family: 'oswald-regular';
  text-transform: uppercase;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#lsem-nav ul li {
  display: inline;
  color: #0A1F3D;
  float: left;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#lsem-nav ul li:hover {
  color: white;
  background-color: #0A1F3D;
  cursor: pointer;
}

#lsem-nav ul li a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

#search-bar {
  background: linear-gradient(#463030, #1B1620 33%);
}

#search-bar input[type="search"] {
  display: inline-block;
  border: solid #1B1620 2px;
  background-color: black;
  border-top-left-radius: 4em;
  border-bottom-left-radius: 4em;
  height: 20px;
  color: white;
  padding-left: 5px;
  margin-left: 60%;
}

#search-bar button {
  display: inline-block;
  /*border-top-right-radius: 4em;*/
  /*border-bottom-right-radius: 4em;*/
  margin-left: -5px;
  height: 20px;
  border: solid #1B1620 2px;
  border-radius: 2px;
  background: linear-gradient(silver, orange 45%);
  color: white;
  font-family: 'Ringbearer';
}


/***************************************************************************
 *
 *  Sign In
 *
 **************************************************************************/

form#sign-in-form {
  background-color: #0A1F3D;
  display: block;
  width: 200px;
  padding: 10px 10px 10px 10px;
}

form#sign-in-form input {
  display: block;
  margin: auto auto;
}

form#sign-in-form input[type="email"],
form#sign-in-form input[type="password"] {
  margin: 20px 10px 20px 10px;
  width: 11em;
  /* width: 180px; */
}

form .close-btn {
  background-color: red;
  background-position: right top;
  border: none;
  float: right;
  width: 20px;
  text-align: center;
}

form .close-btn:hover {
  cursor: pointer;
  color: gold;
  background-color: darkred;
}
