{% extends "base.html" %}
{% block content %}

<h1 class="jumbotron">Welcome to Lancer Quest</h1>
<br>
<form class="form-group" action="" method="post">
    <input type="text" placeholder="Enter LancerNet ID" name="username" value="{{request.form.username }}"><br /><br />
    <input type="password" placeholder="Enter Password" name="password" value="{{request.form.password }}"><br /><br />
    <input type="radio" name="userType">Student<br />
    <input type ="radio" name="userType"> Faculty<br /><br />
    <input class="btn btn-default" type="submit" value="Login">
</form>

{% endblock %}
