<!DOCTYPE html>
<!--This website is created by Elizabeth Cho -->
<!--The name of the editor is choee-->
<!--Copy this poem from http://100.best-poems.net/there-another-sky.html-->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="default.css"></link>
    <title> Lancer Quest </title>
</head>
<body>

<center>

    <p> Student's Name </p>
    <table>
        <tr>
            <th>Course</th>
            <th>CRN</th>
        </tr>
        <tr>
            <td>Computer Science 101</td>
            <td>0001</td>
        </tr>
        <tr>
            <td>Math 101</td>
            <td></td>
        </tr>
        <tr>
            <td>Art 101</td>
            <td>0003</td>
        </tr>


    </table>
    <p>  Lancer News </p>
    <p>  Get involve </p>
    </body>
    </html>
