{% extends "base_logged_in.html" %}
{% block login_child %}
{{student}}
{{professor}}

<center>
<fieldset>
<legend>Upload an Assignment:</legend>
<br>
<form method="post" enctype="multipart/form-data">
<table width="350" border="0" cellpadding="1" cellspacing="1" class="box">
<tr> 
<td width="246">
<input type="hidden" name="MAX_FILE_SIZE" value="2000000">
<input name="file" type="file" id="userfile"> 
</td>
<td width="80"><input name="upload" type="submit" class="box" id="upload" value=" Upload "></td>
</tr>
</table>
</form>

<br>
<br>
<br>
<br>

<form method="post"> <center> 
<font color="black">Title: </font>
<input type="text" name="Description">
<br>
<br>
<font color="black">Description: </font>
<input type="text" name="Assignment Title" style="width: 300px; height:300px;">
<input type="submit" value="Submit">
</fieldset>
</center>  </form>

{% endblock %}
